.label {
  line-height: 0;
  margin-bottom: 0.75em;
  margin-top: 2em;
  text-align: left;
  margin-left: 1em;
}

.persistingContainer {
  min-height: 10em;
  margin-left: 1em;
  margin-right: 1em;
  border: 1px solid black;
  cursor: pointer;
  overflow-y: auto;
}

.persistingOption {
  user-select: none;
  display: flex;
  align-items: center;
}

.persistingOptionCheck {
  display: inline-flex;
  align-items: center;
}

.persistingOptionValue {
  flex-grow: 1;
  text-align: left;
  margin-left: 0.5em;
}

.persistingOption:nth-child(even) {
  background-color: lightgray;
}

.persistingOption:nth-child(odd) {
  background-color: white;
}

.persistingOption:hover {
  background-color: lightblue;
}